body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #FFB7B7 0%, #727272 100%), radial-gradient(60.91% 100% at 50% 0%, #FFD1D1 0%, #260000 100%), linear-gradient(127.43deg, #00FFFF 0%, #FFFFFF 100%), radial-gradient(100.22% 100% at 70.57% 0%, #FF0000 0%, #00FFE0 100%), linear-gradient(64.82deg, #DBFF00 0%, #3300FF 100%);
    background-blend-mode: screen, overlay, color-burn, color-dodge, normal;
}

.main-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


/* 
.middle-container {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
} */

.row-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-btn {
    font-size: 50px;
    width: 100px;
    height: 100px;
    border-color: blanchedalmond;
    border-top-color: rgb(246, 248, 250);
    border-left-color: aliceblue;
    border-right-color: azure;
    box-shadow: rgba(2, 2, 2, 0.25) 0px 30px 60px -12px inset, rgba(5, 5, 5, 0.3) 0px 18px 36px -18px inset;
}

.row-btn:hover {
    cursor: pointer;
    background-color: rgb(241, 241, 241);
}